.mainBlock {
  height: 200px;
  margin-top: 100px;
  margin-right: 10px;
  padding-left: 10px;
  font-style: italic;
  font-size: 45px;
  color: azure;
}

.myFriends {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.friedItem {
  font-size: 15px;
  padding: 5px;
}

.circle {
  background-color: rgb(124, 165, 30);
  width: 50px;
  height: 50px;
  border-radius: 50%;

}